@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fredericka+the+Great&family=Inconsolata:wght@200..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Parisienne&display=swap&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap&family=Bitter&family=Oxygen:wght@300;400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    scroll-behavior: smooth;
    box-sizing: border-box;    
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: darkgray;
  }

  ::-webkit-scrollbar-track {
    background-color: rgba(30, 30, 30, 0.943);
    
  }

.parisienne-regular {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
}

.oxygen-regular {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.fredericka-the-great-regular {
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat-alternates-medium {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.exo-2-regular {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

@keyframes navbar-animation {
    from {
        top: 30px;
        right: 30px;
        scale: 0;
        border-radius: 200%;
        width: 0;
        height: 0;
        display: none;
    }
    
    
    to {
        bottom: 0;
        right: 0;
        border-radius: 0%;
        scale: 100%;
        display: block;
    }
}
